*{
    margin:0;
}

body{
    min-height:100vh;
    /* border: 4px solid red;  */ 
    background-image: url(https://as1.ftcdn.net/v2/jpg/02/81/02/56/1000_F_281025640_kspbUlK5H6Hs49niGyuizejPfQTVfKKF.jpg);
}
.outer-container{
    display:flex;
    justify-content:center;
    margin-top:40px;
    margin-bottom:40px;
}

.outer{
    height: 860px;
    width: 450px;
    border: 4px solid rgb(207, 207, 207);
    background-color: rgb(238, 236, 236);
    border-top: 4px solid rgb(122, 180, 180);
    display:flex;
    justify-content: center;
    border-top-right-radius: 48px;
    border-top-left-radius: 48px;
    border-bottom-left-radius: 138px;
    border-bottom-right-radius: 138px;
}  
.inner{
    display:flex;
    height: 835px;
    width:400px;
    border: 1px solid rgb(238, 236, 236);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 118px;
    border-bottom-right-radius: 118px;
    border-top:none;
    justify-content: center;
    background-color:rgb(122, 180, 180);
       
}

.container{
    display:block;
} 
.title{
    text-align:center;
    margin-top:12px;
    color:rgb(255, 255, 255);
}
.solar-panel{
    display:flex;
    width:135px;
    height:40px;
    border: 2px solid rgb(82, 122, 122);
    background-color: rgba(56, 65, 56, 0.808);
    border-radius: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 4px solid rgb(82, 122, 122);
    margin: 0 auto;
    margin-top:15px;
}
.lines{
    width: 30px;
    height: 37px;
    border: 1px dashed rgba(110, 124, 110, 0.849);
    border-bottom:none;
    border-top:none;
}
.start{
    border-left: none;
}
.end{
    border-right: none;
}
.subtitle{
    text-align:center;
    margin-top:16px;
    font-size:20px;
}
.header{
    width:400px;
    height: 160px;
    border:1px solid rgb(122, 180, 180);
    border-bottom: none;
    background-color: rgb(122, 180, 180);
}
.screen{
    width:402px;
    height: 160px;
    /* border: 1px solid red; */
    border-top:none;
    background-color:rgb(122, 180, 180) ;
    
}
.display{
    width:350px;
    height: 130px;
    border: 3px solid rgb(82, 122, 122);
    background-color: rgba(166, 180, 175, 0.884);
    margin: 0 auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 4px solid rgb(82, 122, 122);
    border-bottom: 2px solid rgb(82, 122, 122);
}
.navigation{
    width:400px;
    height: 110px;
    /* border: 1px solid orange; */
    background-color:rgb(122, 180, 180);
}
.container-2{
    display:flex;
}
.row-1{
    display:flex;
    width:390px;
    height: 100px;
    /* border: 1px solid brown; */
    border-right-width:12px ;
    border-right-color: rgb(238, 236, 236);
    justify-content: center;
   
}
.column {
    display:block;
    width: 75px;
    height: 100px;
    /* border: 1px solid green; */
    background-color:rgb(122, 180, 180);
    margin-left:5px;
    
}
.column.shift{
    margin-left:24px;
}
.column.edit{
    margin-right: 1px;
}
.column.design{
    border-right: 13px solid rgb(238, 236, 236);
    margin-right:2px;
}

button:hover{
    cursor: pointer;
    background-color:rgb(119, 146, 146);
    border: 2px solid rgb(81, 97, 97);
}
.design{
    display: flex;
    width: 150px;
    align-items: center;
    border-right-width:6px ;
    background-color:rgb(122, 180, 180);
    border-right-color:rgb(238, 236, 236);

}
.rectangle{
    display: flex;
    width:155px;
    height:95px;
    border: 1px solid rgb(238, 236, 236);
    background-color:rgb(238, 236, 236);
    margin-left:14px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    justify-content: center;
    align-items: center;
}
.row-2{
    display:flex;
    width:395px;
    height: 295px;
    /* border: 1px solid purple; */
    background-color:rgb(122, 180, 180);
    justify-content: center;
}
.oval {
    display:flex;
    width:100px;
    height:75px;
    border-radius: 50%;
    border: 3px solid rgba(166, 180, 175, 0.055); 
    background-color:rgb(41, 51, 54); 
    justify-content: center;
}
.oval:hover{
    cursor: pointer;
    background-color:rgb(29, 36, 37); 
}
.column-2{
    display: inline-block;
    height: 335px;
    width: 70px;
    /* border: 1px solid blue; */
    background-color:rgb(122, 180, 180);
    margin: 0 auto;
    margin-right:5px;
}
.buttons{
    width:400px;
    height:375px;
    /* border: 1px solid orchid; */
}
.container-3{
    display:flex;
}
.number{
    background-color: white;
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    color:rgb(10, 10, 22);
}
button{
    display:flex;
    width:65px;
    height:44px;
    margin: 0 auto;
    margin-bottom:5px;
    border-radius: 16px;
    background-color:rgb(122, 180, 180);
    border:2px solid rgb(82, 122, 122);
    justify-content: center;
    align-items: center;
}
#operator{
    background-color:rgb(41, 51, 54);  
    color:white;
}
#operator:hover{
    background-color:rgb(29, 36, 37); 
}

.other{
    font-size:16px;
    color: white;
    font-weight: bold;
}
.top{
    font-size:14px;
    color: white;
    font-weight: bold;
}
#divide{
    font-size:24px;
}
#enter{
font-size: 16px;
}

.number:hover{
    background-color: rgb(214, 212, 212);
}
