@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: rgb(255, 255, 255);
    --black-font:rgb(54, 67, 71); 
    --blue: rgb(122, 180, 180);
    --blue-hover: rgb(109, 168, 168);
    --border-blue-light: rgb(175, 212, 212); 
    --border-blue-dark: rgb(99, 145, 145); 
    --blue-active: rgb(91, 134, 134); 
    --blue-active-dark: rgb(77, 117, 117);
    --blue-active-light: rgb(150, 201, 201);
    --green:rgb(124, 196, 124);
    --green-hover:rgb(111, 173, 111);
    --border-green-light: rgb(166, 214, 166);
    --border-green-dark: rgb(90, 150, 90);
    --green-active: rgb(87, 141, 87);
    --gray:rgb(227, 231, 231); 
    --border-gray-light: rgb(207, 209, 209);
    --border-gray-dark: rgb(122, 133, 136);
    --gray-hover:rgb(220, 221, 221);
    --gray-active:rgb(182, 182, 182);
    --black: rgb(66, 79, 85);
    --black-hover: rgb(54, 67, 71);
    --border-black-light: rgb(98, 120, 122);
    --border-black-dark: rgb(47, 56, 58);
    --pink-hover:rgb(235, 175, 185);
    --border-pink-light: rgb(255, 221, 227);
    --border-pink-dark: rgb(182, 118, 129);
    --pink-active:rgb(192, 145, 154);
}
* {
    margin: 0;
}

html,
body {
    height: 100%;
}
label{
    position:absolute;
    top: -20px;
    left:0;
    text-align: center;
    font-weight: bold;
    font-size:0.925rem;
}
button{
    width: 57.5px;
    height: 37.5px;
    border-radius: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.815rem;
    font-weight: bold;
}
.button:active{
    transform: scale(0.95);
}
.number{
    background-color: var(--gray);
    border-width:2px;
    border-top-color:var(--border-gray-light);
    border-bottom-color:var(--border-gray-dark);
    border-right-color:var(--border-gray-dark);
    border-left-color:var(--border-gray-light);
    color:var(--black-font); 
    font-size: 0.925rem;
}
.number:hover{
    background-color: var(--gray-hover);
}
.number:active{
    background-color: var(--gray-active);
}
.operator{
    background-color: var(--black);
    border-width: 2px;
    border-top-color:var(--border-black-light);
    border-bottom-color:var(--border-black-dark);
    border-right-color:var(--border-black-dark);
    border-left-color:var(--border-black-light);
    color:white;
    font-size:1rem;
}
.operator:hover{
    background-color: var(--black-hover);
}
.function.blue{
    background-color: var(--blue);
    border-width: 2px;
    border-top-color:var(--border-blue-light);
    border-bottom-color: var(--border-blue-dark);
    border-right-color:var(--border-blue-dark);
    border-left-color:var(--border-blue-light);
    color:var(--white);
}
.function.blue:hover{
    background-color: var(--blue-hover);
}
.function.blue:active{
    background-color: var(--blue-active);
}
.function.pink{
    background-color: pink;
    border-width:2px;
    border-top-color:var(--border-pink-light);
    border-bottom-color:var(--border-pink-dark);
    border-right-color:var(--border-pink-dark);
    border-left-color:var(--border-pink-light);
}
.function.pink:hover{
    background-color: var(--pink-hover);
}
.function.pink:active{
    background-color: var(--pink-active);
}
.special{
    background-color: var(--green);
    border-width:2px;
    border-top-color:var(--border-green-light);
    border-bottom-color:var(--border-green-dark);
    border-right-color:var(--border-green-dark);
    border-left-color:var(--border-blue-light);
    color:var(--black-font); 
}
.special:hover{
    background-color: var(--green-hover);
}
.special:active{
    background-color: var(--green-active);
}